# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
librosa==0.10.2.post1
# Gooey
git+https://github.com/nielshuman/Gooey.git@1.0.9-release
# numpy
# sudo apt install python3-wxgtk4.0